<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Products Management</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Manage Products</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Stock Count</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.description}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.stockCount}"></td>
  </tr>
  </tbody>
</table>
<a href="/">Back to Dashboard</a>
</body>
</html>
