<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Categories</title>
</head>
<body>
<h1>Categories</h1>
<ul>
  <li th:each="category : ${rootCategories}">
    <a th:href="@{/categories/{id}(id=${category.id})}" th:text="${category.name}"></a>
    <!-- Hiển thị danh mục con -->
    <ul class="dropdown-menu" th:if="${category.subCategories != null}">
      <li th:each="subCategory : ${category.subCategories}">
        <a th:href="@{/categories/{id}(id=${subCategory.id})}" th:text="${subCategory.name}"></a>
      </li>
    </ul>
  </li>
</ul>

</body>
</html>
